body {
    padding: 0;
    margin: 0;
    background-color: #fff9ea;
    background-image: url("/static/images/parchment-bg.jpg")
}

.container {
    height: 100%;
    width: 100%;
    padding: 1rem;
}

.navbar {
    background-color: #5b0e2a;
    margin: 0;
}

.navbar-default .navbar-text {
    color: #fff9ea;
}

.navbar-default .navbar-brand {
    color: #fff9ea;
}

.navbar-default .navbar-header {
    font: 20px Arial, Helvetica, sans-serif;
}

.navbar-default .navbar-footer {
    font: 14px Arial, Helvetica, sans-serif;
}

.navbar-right {
    margin-right: 0px;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

#mapPlot {
    height: 600px;
}

#dropdown-row {
    margin: 0;
    padding: 0;
}

*/ .leaflet-popup-content {
    text-align: center;
}

/* CSS from the Leaflet-Choropleth documentation */
.legend {
    padding: 6px 8px;
    font: 12px Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #555;
    background: #fff;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.legend ul {
    padding: 0;
    margin: 0;
    clear: both;
    list-style-type: none;
}

.legend li {
    display: inline-block;
    width: 30px;
    height: 22px;
}

.legend .min {
    float: left;
    padding-bottom: 5px;
}

.legend .max {
    float: right;
}

h1 {
    text-align: center;
}

.active {
    font-weight: bold;
    fill: #000;
    transition: fill 0.3s ease-out;
    text-anchor: middle;
}

.inactive {
    font-weight: bold;
    fill: #7e7d7d;
    transition: fill 0.3s ease-out;
    text-anchor: middle;
}

.tooltip {
    text-align: center;
    color: black;
    font-weight: bold;
}